@import "variables.scss";

body{
    // background-color: chocolate;
}
.mega-menu{
    background-color: $pastel-blue;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 4;
    color: black;
    padding: 29px 0 55px;
    margin-top: 42px;
    .menu-container{
        margin: 0%;
        padding: 0%;
        display: flex;
        font-family: "HelveticaNeueLTW01-75Bold";
        
        color: black;
        margin-bottom: 18px;  
        
        li{
            list-style: none;
            color: black;
            // text-decoration: none;
            a{
                text-decoration: none;
            }
        }
       .mega-menu_list{
            margin-right: 53px;
            .menu-list-heading{
                line-height: 1.125rem;
                font-size: 0.75rem;
            }
            .menu-list-items{
                color: black;
                padding-left: 0px;
                line-height: 2rem;
                display: block;
                font-size: 0.75rem;
            }
            
       
        .mega-menu-image{
            font-size: 0.75rem;
            height: 500px;
            overflow: hidden;
            .mega-text{
                .mega-text-span{
                    line-height: 0.875rem;
                    border: none;
                    display: block;
                    margin: 14px 0 8px;
                    font-family: "HelveticaNeueLTW01-Regular";
                }
                .mega-text-a{
                    border-bottom: 1px solid #000;
                    line-height: 1.0625rem;
                    padding: 0;
                    display: block;
                }
            }
        }
    }
}
}